body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-color{
  background-color: #232440!important;
  color: #fff!important;
}
.navbar-brand{
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  font-synthesis: style;

}
.nav-link {
  color: #fff;
  margin: 10px 51px;
  font-weight: 700;
}
.latest-moive{
  padding: 41px 15px;
font-size: 2.63rem;
}
.img-class{
  width: 90%;
  height: 60%;
  border-radius: 5px;
  margin:2rem;
  border:2px solid #000;
}